@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  background-color: #d0ea57;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  width: 100%;
  text-align: center;
}

h1 {
  color: #556d13;
}

.btn {
  color: #794aa0;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 8em;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #556d13;

  text-decoration: underline;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.btn i {
  vertical-align: middle;
}

.sad:hover {
  -webkit-animation: sad 5s ease-in-out infinite alternate;
  animation: sad 5s ease-in-out infinite alternate;
}

@-webkit-keyframes sad {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes sad {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.silly:hover {
  -webkit-animation: silly 2s ease-in-out infinite alternate;
  animation: silly 2s ease-in-out infinite alternate;
}

@-webkit-keyframes silly {
  0% { -webkit-transform: translateY(0) scale(1.05,1.05); }
  20% { -webkit-transform: translateX(10%) rotate(-35deg) scale(2.05,2.05); }
  40% { -webkit-transform: translateY(15%) scale(1.05,1.05); }
  70% { -webkit-transform: translateX(20%) rotate(120deg); }
  85% { -webkit-transform: translateY(30%); }
  90% { -webkit-transform: translateX(-20%); }
  100% { -webkit-transform: translateX(0) scale(0.5,0.5); }
}

@keyframes silly {
  0% { transform: translateY(0) scale(1.05,1.05); }
  20% { transform: translateX(10%) rotate(-35deg) scale(2.05,2.05); }
  40% { transform: translateY(15%) scale(1.05,1.05); }
  70% { transform: translateX(20%) rotate(120deg); }
  85% { transform: translateY(30%); }
  90% { transform: translateX(-20%); }
  100% { transform: translateX(0) scale(0.5,0.5); }
}

.happy:hover {
  -webkit-animation: happy 3s ease-in-out infinite alternate;
  animation: happy 3s ease-in-out infinite alternate;
}

@-webkit-keyframes happy {
  0% { -webkit-transform: translateY(0); }
  20% { -webkit-transform: translateY(30%); }
  40% { -webkit-transform: translateY(0%); }
  70% { -webkit-transform: translateY(20%); }
  80% { -webkit-transform: translateY(0%); }
  90% { -webkit-transform: translateY(30%); }
  100% { -webkit-transform: translateY(0); }
}

@keyframes happy {
  0% { transform: translateY(0); }
  20% { transform: translateY(30%); }
  40% { transform: translateY(0%); }
  70% { transform: translateY(20%); }
  80% { transform: translateY(0%); }
  90% { transform: translateY(30%); }
  100% { transform: translateY(0); }
}

.devious:hover {
  -webkit-animation: devious 2s ease-in-out infinite alternate;
  animation: devious 2s ease-in-out infinite alternate;
}

@-webkit-keyframes devious {
  0% { -webkit-transform: scale(1,1); }
  20% { -webkit-transform: scale(1.5,1.5); }
  40% { -webkit-transform: scale(1,1); }
  60% { -webkit-transform: scale(1.2,1.2); }
  80% { -webkit-transform: scale(1,1); }
  100% { -webkit-transform: scale(1.4,1.4); }
}

@keyframes devious {
  0% { transform: scale(1,1); }
  20% { transform: scale(1.5,1.5); }
  40% { transform: scale(1,1); }
  60% { transform: scale(1.2,1.2); }
  80% { transform: scale(1,1); }
  100% { transform: scale(1.4,1.4); }
}

@media only screen and (min-width: 38em) {

  h1 {
    margin-top: 10%;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

}

@media only screen and (min-width: 60em) {

  header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

  h1 {
    margin-top: 20%;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

}
